<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagnizer by Iskan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        min-height: 100vh;
        position: relative;
      }
      .hero-text {
        font-size: 1rem;
      }
      .hero-brand {
        font-size: 3rem;
        font-weight: bold;
      }
      .figure {
        height: 18rem;
      }
      .w-md-50 {
        padding-top: 1rem;
      }

      @media only screen and (min-width: 600px) {
        .figure {
          height: 28.4375rem;
        }
        .hero-text {
          font-size: 1.25rem;
        }
        .hero-brand {
          font-size: 4rem;
        }
        .w-md-50 {
          width: 50%;
        }
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Diagnizer</a>
        </div>
      </nav>
    </header>

    <div class="bg-secondary" style="height: 100vh">
      <div
        class="container d-flex flex-column-reverse flex-md-row justify-content-center justify-content-md-between align-items-center"
        style="min-height: 100%"
      >
        <div class="d-flex flex-column w-md-50 text-white">
          <div class="hero-text">Selamat datang di</div>
          <div class="hero-brand text-warning">Diagnizer</div>
          <div class="hero-text">
            Diagnizer menyediakan diagnosis terhadap penyakit Malaria, Typhoid,
            atau Tuberculosis. Pengguna memasukan gejala yang dirasakan dan
            sistem akan memberi tahu apakah pengguna memiliki Malaria, Typhoid,
            atau Tuberculosis.
          </div>
          <div class="d-block mt-4">
            <a href="#main">
              <button type="button" class="btn btn-warning fw-normal">
                Coba Diagnizer
              </button>
            </a>
          </div>
        </div>
        <div class="w-50 d-flex justify-content-center align-items-center">
          <img src="../static/img/fig.png" alt="figure" class="figure" />
        </div>
      </div>
    </div>

    <main
      class="py-4 bg-secondary d-flex flex-column w-100 justify-content-center align-items-center"
      style="min-height: 100vh; --bs-bg-opacity: 0.25"
      id="main"
    >
      <div class="container">
        <h2 class="py-2">Pilih gejala yang anda alamai!</h2>
        <form>
          <div class="d-grid gap-1 w-100" id="symptoms-list"></div>
          <div class="mt-3">
            <button
              type="submit"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#modal"
            >
              Cari tahu penyakit
            </button>
          </div>
        </form>
      </div>
    </main>

    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Hasil Diagnizer</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h5 id="modal-title"></h5>
            <div id="card-list"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Tutup
            </button>
            <button
              onClick="window.location.reload();"
              type="button"
              class="btn btn-primary"
            >
              Cari tahu lagi
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-dark text-white position-absolute end-0 py-2 w-100">
      <div class="container fs-6">
        © 2022 Iskan Mustamir,
        <a
          href="https://github.com/IskanMr/diagnizer"
          target="_blank"
          rel="norefferer"
          >Docs</a
        >
      </div>
    </footer>

    <script>
      const symptoms = [
        { name: "Mengigil", value: "chills" },
        { name: "Muntah", value: "vomiting" },
        { name: "Demam Tinggi", value: "high_fever" },
        { name: "Sering Berkeringat", value: "sweating" },
        { name: "Mudah Lelah", value: "fatigue" },
        { name: "Berat Badan Turun", value: "weight_loss" },
      ];
      const diseases = [
        {
          name: "Malaria",
          desc: "Penyakit yang disebabkan oleh parasit Plasomodium. Penyakit ini ditularkan melalui gigitan nyamuk Anopheles betina yang terinfeksi parasit tersebut.",
        },
        {
          name: "Typhoid",
          desc: "Penyakit akut yang disebabkan oleh bakteri Salmonella thyphi. Bakteri ini biasanya ditemukan di air atau makanan yang terkontaminasi. Selain itu, bakteri ini juga bisa ditularkan dari orang yang terinfeksi.",
        },
        {
          name: "Tuberculosis",
          desc: " penyakit infeksius, yang terutama menyerang penyakit parenkim paru. Nama Tuberkulosis berasal dari tuberkel yang berarti tonjolan kecil dan keras yang terbentuk waktu sistem kekebalan membangun tembok mengelilingi bakteri dalam paru.",
        },
      ];

      const cardList = document.getElementById("card-list");
      const form = document.querySelector("form");
      const symptomsInput = form["symptomsInput"];
      const symptomsList = document.getElementById("symptoms-list");
      const modal = document.getElementById("modal");
      const modalTitle = document.getElementById("modal-title");

      form.addEventListener("submit", (e) => {
        var symptomsEntered = [];
        var checkboxes = document.querySelectorAll(
          "input[type=checkbox]:checked"
        );

        for (var i = 0; i < checkboxes.length; i++) {
          symptomsEntered.push(checkboxes[i].value);
        }

        fetch("/diagnose", {
          method: "POST",
          body: JSON.stringify({
            symptoms: [...symptomsEntered],
          }),
        })
          .then((result) => result.json())
          .then((result) => {
            console.log(result);
            console.log(result.diseases.length);
            if (result.diseases.length === 0) {
              modalTitle.innerHTML =
                "Penyakit anda tidak terdiagnosa, mohon tambahkan gejala yang anda alami!";
              cardList.innerHTML = "";
              return;
            }

            cardList.innerHTML = "";
            modalTitle.innerHTML =
              "Anda mungkin mengalami salah satu dari penyakit berikut: ";

            result.diseases.forEach((disease) => {
              const desc = diseases.find((e) => e.name == disease).desc;

              cardList.innerHTML += `
              <div class="card mb-2">
                <div class="card-body">
                  <h5 class="card-title">${disease}</h5>
                  <p>${desc}</p>
                </div>
              </div>
              `;
            });
          })
          .catch((err) => {
            console.log(err);
            alert("sorry, there is an error");
          });
      });

      symptoms.forEach((symptom, key) => {
        symptomsList.innerHTML += `<div class="w-100">
          <input
            type="checkbox"
            class="btn-check"
            id=${symptom.value}
            value=${symptom.value}
          />
          <label class="btn btn-outline-dark w-100" for=${symptom.value}>${symptom.name}</label>
        </div>`;
      });
    </script>
  </body>
</html>
